:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --navbar-height: 33px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --star-gold-color: #ffce3e;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.2rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%; 
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

}
.modal__body{
    margin: auto;
    z-index: 1;
    position: relative;
}
/* button stype */
.btn{
    min-width: 142px;
    min-height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    outline: none;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.6rem;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px 1px #dadada;
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: rgb(245, 62, 45);
    box-shadow: 0 1px 2px 1px #dadada;
}
.btn.btn--primary:hover{
    background-color: rgb(218, 53, 39);
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;

}
/* selection */
.select-input{
    height: 34px;
    margin: 12px;
    background-color: var(--white-color);
    min-width: 250px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__label{
    font-size: 1.4rem;
    margin-left: 10px;
}
.select-input__icon{
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    margin: 0 10px 0 8px;
}
.select-input:hover .select-input__icon{
    color: #f53e2d;
}
.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    top: 24px;
    padding: 8px 0;
    list-style: none;
    display: none;
    z-index: 2;
}
.select-input__link{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 10px 16px;
    font-weight: 500;
}
.select-input__link:hover{
    color: #f53e2d;
    background-color: rgba(0, 0, 0, 0.03);
}
/* pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.pagination-item{
    margin: 0 12px;
}
.pagination-item--active .pagination-item__link{
    background-color: #f53e2d;
    color: var(--white-color);
}
.pagination-item--active .pagination-item__link:hover{
    background-color: rgba(245, 62, 45, 0.9);
}
.pagination-item__link{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}
.footer{
    border-top: 4px solid #f53e2d;
    padding-top: 16px;
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}